body {
    background: rgb(53, 54, 58);
    height: 100%;
    width: 100%;
}

body * {
    /* Default font families for Linux and ChromeOS. */
    font-family: 'Roboto', arial, sans-serif;
}

.win * {
    /* Default font families for Windows */
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.mac * {
    /* Default font families for MacOS */
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}

/* Removes blue focus ring on mouse navigation */
.mouse-navigation {
    outline: none;
}


.link {
    padding: 10px;
}
.link a {
    color: white;
}