body {
    background: rgb(53, 54, 58);
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
}

body * {
    /* Default font families for Linux and ChromeOS. */
    font-family: 'Roboto', arial, sans-serif;
}

.win * {
    /* Default font families for Windows */
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.mac * {
    /* Default font families for MacOS */
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}

/* Removes blue focus ring on mouse navigation */
.mouse-navigation {
    outline: none;
}

#links {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
}

.link {
    margin: 0;
    margin-bottom: 3px;
}

.link a {
    display: block;
    color: white;
    padding: 10px;
    border: 1px solid white;
}