body {
    background: rgb(53, 54, 58);
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
}

body * {
    /* Default font families for Linux and ChromeOS. */
    font-family: 'Roboto', arial, sans-serif;
}

.win * {
    /* Default font families for Windows */
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.mac * {
    /* Default font families for MacOS */
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}

/* Removes blue focus ring on mouse navigation */
.mouse-navigation {
    outline: none;
}

#links {
    margin: 50px auto 0;
    max-width: 800px;
}

.link {
    margin: 0 6px 12px;
    float:left;
}

.clear-both{
    clear:both;
}

.link a {
    opacity: 0.8;
    display: block;
    width: 100px;
    height: 100px;
    text-decoration: none;
}

.link-text {
    text-overflow: ellipsis;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.link-icon-container {
    padding: 10px;
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    margin: 0 auto;
}

.link a:hover {
    opacity: 1;
}

.link-icon {
    width: 30px;
    height:30px;
    margin: 0 auto;
    display:block;
}